.button {
  margin: 0 auto;
  color: var(--color-primary-white);
  background-color: var(--color-primary-blue);
  border-radius: 32px;
  border: none;
  width: 186px;
  height: 44px;
  transition: 0.3s;
  font-size: 16px;

  &:hover {
    color: var(--color-secondary-gray-dark);
    background-color: transparent;
    border-radius: 32px;
    border: 2px solid var(--color-primary-blue);
    cursor: pointer;
  }

  @media screen and (min-width: $bp-desktop) {
    margin-top: 40px;
    color: var(--color-primary-white);
    background-color: var(--color-primary-blue);
    border-radius: 32px;
    border: none;
    width: 219px;
    height: 53px;
    transition: 0.3s;
    font-size: 18px;

    &:hover {
      color: var(--color-secondary-gray-dark);
      background-color: transparent;
      border-radius: 32px;
      border: 2px solid var(--color-primary-blue);
      cursor: pointer;
    }
  }

  &:hover {
    color: var(--color-secondary-gray-dark);
    background-color: transparent;
    border-radius: 32px;
    border: 2px solid var(--color-primary-blue);
    cursor: pointer;
  }
}

.form-button {
  display: block;
  width: 240px;
  height: 44px;
  margin: 0 auto 8px;
  font-size: 16px;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    width: 280px;
    height: 55px;
    margin: 0 auto 8px;
    font-size: 18px;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-blue-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-blue-dark);
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--color-primary-blue);
  fill: var(--color-primary-white);
}

.arrow.prev {
  display: none;
  @media screen and (min-width: $bp-desktop) {
    display: block;
    width: 44px;
    height: 44px;
  }
}

.arrow.next {
  display: none;
  @media screen and (min-width: $bp-desktop) {
    display: block;
    width: 44px;
    height: 44px;
    transform: rotate(180deg);
  }
}

// кнопка Close

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
