.icon-tell {
  fill: var(--color-primary-blue-dark);
}

.icon-tell:hover {
  fill: var(--color-primary-blue-dark);
}

.icon-tell-footer {
  fill: var(--color-primary-white);
}

.icon-tell-footer:hover {
  fill: var(--color-primary-blue);
}
