.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 16px;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 32px;
  }

  &__mobile {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: var(--color-secondary-gray);
    border-radius: 50%;

    &--active {
      background-color: var(--color-primary-blue);
    }
  }
}
