.span-black-color {
  color: var(--color-primary-blue-dark);
  font-size: 22px;
  font-weight: 600;
}

.span-blue-color {
  color: var(--color-primary-blue);
  font-size: 64px;
  font-weight: 700;
}

.span-blue-color-s {
  color: var(--color-primary-blue);
  font-size: 22px;
  font-weight: 700;
}

.span-size {
  font-size: 22px;
}
