.form-terms {
  margin: 0 auto;
  max-width: 210px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-secondary-gray);
}

.form-terms-link {
  color: var(--color-secondary-gray);
  text-underline-offset: 2px;
}
