.section-advantages {
  padding-top: 96px;

  &__wrapper {
    display: flex;
    gap: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 64px;
    text-align: center;
  }

  &__list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  // &__list-item {
  //   transition: transform 0.3s;
  // }

  // &__list-item:hover {
  //   transform: scale(1.05);
  // }
}
