.why-section {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-image: url("..//img/bg-why.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 176px;

  &__wrapper {
    position: relative;
    display: flex;
    gap: 48px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__section-title {
    font-size: 64px;
    max-width: 450px;
  }

  &__list {
    padding-top: 48px;
    display: flex;
    gap: 56px;
    justify-content: center;
  }

  &__item {
    padding-top: 29px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    max-width: 316px;
    border-radius: 32px;
    background-color: var(--color-primary-white);
  }

  &__text {
    padding-top: 8px;
    color: var(--color-secondary-yellow-dark-article);
    font-size: 18px;
    font-weight: 400;
  }
}
